.weaponBtn {
	position: relative;
	display: flex;
	
	justify-content: center;
	align-items: center;
	
	background-color: var(--white);
	cursor: pointer;
	
	width: 100%;
	height: 100%;
	
	border: var(--borderWidth) solid var(--borderClr);
	border-radius: 4px;
}

.weaponBtn:hover {
	background-color: var(--whiteHover);
}

.weaponSelected {
	border-width: calc(var(--borderWidth) * 2.0);
}

.weaponImg {
	width: 100%;
	height: 100%;
  	padding: 1px 1px;
  	
  	/* to convert hex color to css filter: https://codepen.io/sosuke/pen/Pjoqqp */
  	filter: invert(87%) sepia(0%) saturate(63%) hue-rotate(226deg) brightness(89%) contrast(91%);
}

.weaponTxt {
	position: absolute;
}

.dropdown {
	margin-top: var(--spacing);
	width: 100%;
}

.elementTitle {
	margin-top: 0;
	margin-bottom: 0;
}

.dropdownValue {
	width: 100%;
}

.checkbox {
	width: 100%;
}

.slider {
	margin-top: var(--spacing);
	width: 100%;
}

.sliderTitle {
	margin-top: var(--spacing);
	margin-bottom: 0;
	float: left;
}

.sliderValue {
	margin-top: var(--spacing);
	margin-bottom: 0;
	float: right;
}

.trashBtn {
	float: right;
	height: 100%;
}

.inactive {
	color: #777777;
}
